* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, main {
	height: 100%;
}
main {
	display: block;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 50px;
	box-shadow: 1px 3px 3px rgba(0,0,0,0.1);
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
#map {
	height: 100%;
}
#title {
	width: 100%;
	color: white;
	text-align: center;
	position: absolute;
	top: 25%;
}
#location-form {
	width: 80%;
	transform: translate(-50%, -50%);
	background: rgba(255,255,255,0.7);
    border-radius: 4px;
    padding: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 1px 3px 3px rgba(0,0,0,0.1);
}
#location-input, #location-submit, #subject, #question {
	font-size: 18px;
}
#location-input {
	width: 120px;
	font-size: 18px;
	margin-right: 20px;
	padding: 8px 12px;
	float: left;
	border-radius: 2px;
	border: 1px solid #dbdbdb;
}
#location-input-number {
	width: 60px;
	font-size: 18px;
	margin-right: 20px;
	padding: 8px 12px;
	float: left;
	border-radius: 2px;
	border: 1px solid #dbdbdb;
}
#location-submit {
	margin-left: 20px;
	background-color: #63DB67;
	color: white;
	float: right;
	padding: 8px 12px;
	border: 0;
	border-radius: 2px;
}

#subject {
	width: 200px;
	margin-right: 20px;
}
#subject, #question {
	padding: 6px;
	float: left;
	color: #777777;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
}
#question {
	width: 500px;
}
#dashboard {
	width: 800px;
	margin: 0 auto;
}
#dashboard h1 {
	padding-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}
#dashboard .fa-angle-up {
	width: 100%;
	margin: 20px 0 0;
	cursor: pointer;
	font-size: 60px;
	text-align: center;
	color: #999999;
	transition: all 0.5s ease;
}
#dashboard .fa-angle-up:hover {
	font-size: 70px;
	color: #000000;
}

#map-small {
	width: 300px;
    background-image: url('../img/dordrecht.png');
    background-size: cover;
    background-position: center;
    height: 180px;
    border: 1px solid white;
}

.flex{
  display: -ms-flexbox;    
  display: -webkit-box;    
  display: -webkit-flexbox; 
  display: -webkit-flex;
  display: flex;            
}    

.flex > *{ margin: 0 10px; }    
.flex > :first-child{ margin-left: 0; }
.flex > :last-child{ margin-right: 0; }

.flex.vertical > *{ margin: 10px 0; }    
.flex.vertical > :first-child{ margin-top: 0; }
.flex.vertical > :last-child{ margin-bottom: 0; }

.vertical{
      -webkit-box-orient: vertical;    
         -moz-box-orient: vertical;    
              box-orient: vertical;    
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;     
}

.box {
	width: 33.333333333333333333333333%;
	float: left;
}
.box h3 {
	text-align: center;
}
.box p {
	font-size: 50px;
	text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.waterhoogte-info h2, .waterhoogte-info p {
	margin: 4px 0;
}
.waterhoogte-image {
	margin-top: 16px;
	float: left;
}
.download-box, .mail-box, .call-box {
	position: relative;
}
.download-box .fa, .mail-box .fa, .call-box .fa {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	color: #333333;
}
.download-box p, .mail-box p, .call-box p {
	width: 100%;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 16px;
	color: #cccccc;
	text-align: center;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}
.temperature-box {
	position: relative;
}
.advise-box {
	max-width: 75%;
	padding: 20px;
}
.temperature-box h2 {
	color: #333333;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
}

#dashboard {
	width: 100%;
	color: white !important;
}

.row {
	width: 100%;
	box-shadow: 0px 6px 12px rgba(0,0,0,0.2) inset;
}
.row-inner {
	width: 1200px;
	margin: 0 auto;
	padding: 80px 0;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}
	.row-inner .icon,
	.row-inner .data,
	.row-inner .info,
	.row-inner .advise {
		width: 25%;
		box-sizing: border-box;
	}
	.row-inner .icon {
	    height: 200px;
	    position: relative;
	    float: left;
	    background-repeat: no-repeat;
	    background-size: 600px;
	    background-position: center;
	}
		.row-inner .icon h3 {
			font-size: 24px;
			position: absolute;
		    bottom: -36px;
		    width: 100%;
		    text-align: center;
		}
		.row-waterhoogte .row-inner .icon {
			background-image: url('../img/Waterlevel.png');
		}
		.row-grondkwaliteit .row-inner .icon {
			background-image: url('../img/Grondkwaliteit.png');
		}
		.row-drainage .row-inner .icon {
			background-image: url('../img/Drainage.png');
		}
	.row-inner .data {
		padding-left: 80px;
		padding-right: 40px;
		float: right;
	}
		.row-inner .data .vinkje {
			width: 200px;
			height: 200px;
			background-image: url('../img/Vinkje.png');
			background-repeat: no-repeat;
			background-position: top center;
		}
		.row-inner .data h3 {
			margin-bottom: 20px;
		}
		.row-inner .data ul {
			list-style: none;
		}
			.row-inner .data li {
				margin-bottom: 10px;
			}
	.row-inner .info {
		padding-right: 40px;
		float: right;
	}
		.row-inner .info h3 {
			text-align: center;
			margin-bottom: 20px;
		}
		.row-inner .info p {
			margin-bottom: 20px;
			text-align: justify;
		}
	.row-inner .advise {
		float: right;
	}
.row-subject {
	background-color: #333333;
}
	.row-subject h2 {
		font-size: 30px;
		float: left;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.row-subject .location-zoom {
		float: right;
	}
	.row-subject .location-zoom h3 {
		margin-bottom: 4px;
	}
	.row .row-inner:after {
	  content: '';
	  width: 0; 
	  height: 0; 
	  position: absolute;
	  top: 0px;
	  border-left: 60px solid transparent;
	  border-right: 60px solid transparent;  
	  border-top: 40px solid #D4A190;
	}
		.row-subject .row-inner:after {
			border-top: 0;
			border-right: 0;
			border-left: 0;
		}
		.row-waterhoogte .row-inner:after {
			left: 100px;
			border-top-color: #333333;
		}
		.row-grondkwaliteit .row-inner:after {
			left: 300px;
			border-top-color: #0FA4D6;
		}
		.row-drainage .row-inner:after {
			left: 500px;
			border-top-color: #B07017;	
		}
		.row-contact .row-inner:after {
			left: 700px;
			border-top-color: #309164;
		}

.row-waterhoogte {
	background-color: #0FA4D6;
}
.row-grondkwaliteit {
	background-color: #B07017;
}
.row-drainage {
	background-color: #309164;
}
.row-contact {
	background-color: #333333;
}